# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment its usage
#   in your deployment config if needed.
# 3 Make sure to not commit this file.

dev:
  APP_NAME: retro-pop-dispatch-api

prod:
  APP_NAME: retro-pop-dispatch-api
